<h1>Learn The Test Questions!</h1>
<div class="container">
	<div class="row">
		<%= render @question %>
	</div>
	<div class="row">
		<%= render collection: @answers, partial: "answer" %>
	</div>
</div>